<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Поиск по ответам</title>
</head>
<body>
<form action="http://127.0.0.1:5000/result" method = 'POST'>
    <fieldset>
        <legend><b>Поиск ответов по имени</b></legend>
        Чьи результаты вы хотите посмотреть?<br>
        <input type="text" name="what_search" required pattern='[a-zA-Z]+'><br>
        <p><input type="submit" value="Искать"></p>
<p><a href='/'>Главная страница</a></p>
<p><a href='/stats'>Статистика опроса</a></p>
<p><a href='/json'>Json со всеми введенными на сайте данными</a></p>
</body>
</html>
